In [1]:
from pandas import DataFrame
import pandas as pd

x=[a for a in range(10)]
#构造一元二次方程，非线性关系
def y_x(x):
    return 2*x**2+4
y=[y_x(i) for i in x]
 
data=DataFrame({'x':x,'y':y})

In [5]:
data

   x    y
0  0    4
1  1    6
2  2   12
3  3   22
4  4   36
5  5   54
6  6   76
7  7  102
8  8  132
9  9  166

In [6]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
data.head()

   x   y
0  0   4
1  1   6
2  2  12
3  3  22
4  4  36

In [10]:
data.corr()

          x         y
x  1.000000  0.962691
y  0.962691  1.000000

In [12]:

data.corr(method='kendall')

     x    y
x  1.0  1.0
y  1.0  1.0

In [15]:
import numpy as np
np.corrcoef(x,y)

array([[1.        , 0.96269074],
       [0.96269074, 1.        ]])

In [24]:
x=[1,2,3,4,5]
y=[-1,-2,-3,-4,-5]
np.corrcoef(x,y)

array([[ 1., -1.],
       [-1.,  1.]])

In [23]:
data1=DataFrame({'x':x,'y':y})
data1.corr()

          x         y
x  1.000000  0.260133
y  0.260133  1.000000