In [16]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series
df = pd.DataFrame(np.random.randn(20).reshape(4,5),index = [1,2,3,4],columns=['a','b','c','d','e',])

In [17]:
df

          a         b         c         d         e
1  0.130174  1.037374  0.368522 -0.411721 -0.516056
2 -0.364386  0.540190  0.195024  1.498910  0.453244
3 -0.210059 -1.915745  0.895229  0.668915 -0.135330
4 -0.326350  0.829215  0.344985 -0.748827  0.454030

In [18]:
np_a = df['a'].values
np_b = df['b'].values

In [19]:
np_a

array([ 0.13017442, -0.36438569, -0.21005909, -0.32634973])

In [20]:
np_b

array([ 1.03737361,  0.5401902 , -1.91574545,  0.82921506])

In [31]:
df.corr(method='kendall')

          a         b         c         d         e
a  1.000000  0.333333  0.666667 -0.333333 -0.666667
b  0.333333  1.000000  0.000000 -0.333333  0.000000
c  0.666667  0.000000  1.000000  0.000000 -0.333333
d -0.333333 -0.333333  0.000000  1.000000  0.000000
e -0.666667  0.000000 -0.333333  0.000000  1.000000

In [22]:
np.corrcoef(np_a,np_b)

array([[1.        , 0.17744985],
       [0.17744985, 1.        ]])

In [23]:
np_a

array([ 0.13017442, -0.36438569, -0.21005909, -0.32634973])

In [24]:
np_b

array([ 1.03737361,  0.5401902 , -1.91574545,  0.82921506])

In [25]:
np.corrcoef(np_a,np_b)

array([[1.        , 0.17744985],
       [0.17744985, 1.        ]])

In [28]:
df.corr?

In [29]:
np.corrcoef?